<div class="signup-form">
    <form>
        <h2>Login</h2>
        <hr>
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>
    </form>
    <div class="hint-text">Don't have an account? <a routerLink="users/register"></a></div>
</div>
