# See http://help.github.com/ignore-files/ for more about ignoring files.

https://localhost:4200/#id_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI
6Ilg1ZVhrNHh5b2pORnVtMWtsMll0djhkbE5QNC1jNTdkTzZRR1RWQndhTmsifQ.eyJleHAiOjE2
NjIxNzI1MDksIm5iZiI6MTY2MjE2ODkwOSwidmVyIjoiMS4wIiwiaXNzIjoiaHR0cHM6Ly90ZWxl
Y29tYjJjLmIyY2xvZ2luLmNvbS9mYjhjN2QyOC04OTI5LTRmNzAtOWNmZi1iYzc3YzQyNTM0MWYv
djIuMC8iLCJzdWIiOiJkMzYzYTFhNC1jZDk3LTRjZjUtYTdlMC01NDZhZWE3Y2Q4NmUiLCJhdWQi
OiIxMmI0NzFiMi1jZGFiLTQwMmQtOWViOS0zMGNjZGVmMTFmMzYiLCJub25jZSI6ImRlZmF1bHRO
b25jZSIsImlhdCI6MTY2MjE2ODkwOSwiYXV0aF90aW1lIjoxNjYyMTY4OTA5LCJnaXZlbl9uYW1l
IjoiQ2Fyb2xpbmUiLCJ0ZnAiOiJCMkNfMV9UZWxlQ29tLUFwcCJ9.J2bTLLjAWMNB03HAscM2y_B
GN_QraAFTgwY15hTm15S--6ZGNGV56pcQsDNQTeh8zoTqbn79rqoJfufvc1LD71v9XdJ-_GFbLzA
VQUDVglnJvEsHlsTlWxMZDmv93OSZ87TxFSXv_Fv7xhhqEYJSe_hyDw29dyux45T0E84h36hzH4z
GH9c2exDIMqIGE-5FJ5yKbZi1eAAIacDR7M_-cbybXKz7cU32z0R_adlvTC6RhdELwd8HBJ1u795
aqAvPmKKBfPMCRQ2j2oMsSXSm8Jgmz3M1_ufPqgvJC6C9MVDycJqnRMFTKyEoP3ZQwc_fCdXjJ3ACFq5nWV7NmzRd3Q

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
