<!-- <div class="container">
    <form [formGroup]="newDeviceForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" id="model" formControlName="model"/>
            <div *ngIf="f['model'].touched && f['model'].invalid" class="alert alert-danger">
                <div *ngIf="f['model'].errors f['model'].errors['required']">Model is required</div>
            </div>
        </div>
    </form>
</div> -->