<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-5 fw-bold lh-1 mb-3">Find A Plan Today!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead fs-5 text-muted mb-4">Are you having trouble looking for the perfect phone plan, 
      well look no further! CE-Mobile offers affordable and excellent plans. Our the great 
      plans include the Family Plan, Work Plan, and Enterprise Plan!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button routerLink="/plans" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">View Plans</button>
      <button routerLink="/account" type="button" class="btn btn-primary btn-lg btn-lg px-4">Devices</button>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 60vh;">
    <div class="container px-5">
      <img src="assets/images/people6.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="600" height="400" loading="lazy">
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-3">
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/family.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Family Plan</h5>
        <p class="card-text text-center">
          For only $25/mo you can have up to 5 lines!
          Where each line is an additional $20
        </p>
        <hr>
        <div class=" d-flex justify-content-center">
          <a routerLink="/plans" class="btn btn-primary me-3">View Plan</a>
          <a routerLink="/account" class="btn btn-primary">Add Plan</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/work.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Work Plan</h5>
        <p class="card-text text-center">
          For only $75/mo you can have up to 20 lines!
          Where each line is an additional $10
        </p>
        <hr>
        <div class=" d-flex justify-content-center">
          <a routerLink="/plans" class="btn btn-primary me-3">View Plan</a>
          <a routerLink="/account" class="btn btn-primary">Add Plan</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/ent.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Enterprise Plan</h5>
        <p class="card-text text-center">
          For only $125/mo you can have up to 75 lines!
          Where each line is an additional $5
        </p>
        <hr>
        <div class=" d-flex justify-content-center">
          <a routerLink="/plans" class="btn btn-primary me-3">View Plan</a>
          <a routerLink="/account" class="btn btn-primary">Add Plan</a>
        </div>
      </div>
    </div>
  </div>
</div>



  