<div class="pricing-header p-3 pb-md-1 mx-auto text-center">
    <h1 class="display-5 fw-bold lh-1 mb-3">View Our Plans</h1>

</div>

<div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/images/family.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-4 fw-normal">Family Plan</h1>
        <p class="lead">Perfect phone plan for the basic necessities and essentials!</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Allows up to 5 phone lines</li>
                <li class="list-group-item">Each phone line is $20</li>
                <li class="list-group-item">Unlimited talk and text</li>
                <li class="list-group-item">Unlimited 5G</li>
                <li class="list-group-item">Total for 5 lines: $125/mo</li>
              </ul>
      </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/images/work.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-4 fw-normal">Work Plan</h1>
        <p class="lead">Great if you're looking for several phone lines with unlimited data!</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Allows up to 20 phone lines</li>
                <li class="list-group-item">Each phone line is $10</li>
                <li class="list-group-item">Unlimited talk and text</li>
                <li class="list-group-item">Unlimited 5G, 4G and LTE</li>
                <li class="list-group-item">5G mobile hotspot data</li>
                <li class="list-group-item">Total for 20 lines: $275/mo</li>
              </ul>
      </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/images/ent.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-4 fw-normal">Enterprise Plan</h1>
        <p class="lead">If 20 phone lines isn't enough try 75!</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Allows up to 75 phone lines</li>
                <li class="list-group-item">Each phone line is $5</li>
                <li class="list-group-item">Unlimited talk and text</li>
                <li class="list-group-item">Unlimited 5G, 4G and LTE</li>
                <li class="list-group-item">5G mobile hotspot data</li>
                <li class="list-group-item">Total for 75 lines: $500/mo</li>
              </ul>
      </div>
    </div>
</div>


